body {
background-colour:#cc00ff;
font-family:(Times-New-Roman),Helvitica, serif;
}
/*Nav Bar styling*/
ul {
list-style-type:none;
padding;0:
overflow:hidden;
margin:0:
position:fixed;
top:0;
width:100%;
}
li {
float:left;
}
li a {
display:block;
color:white;
text-align:center;
padding:14px 16px;
text-decoration:none;
}
li a:hover {
background-color:red;
}
.active {
background-color:blue;
}
